{% extends "portfolio/project_list.html" %}

{% load staticfiles %}

{% block intro %}
    Search by technology<br>
    {% if technologies %}
        <p>{% for technology in technologies %}
            {% if technology.visible %}
                <a href="{% url 'portfolio:technology' technology.slug %}">{{ technology.name }}</a>{% if not forloop.last %}, {% endif %}

            {% endif %}
        {% endfor %}</p>
    {% else %}
        <p>Technologies failed to load</p>
    {% endif %}

    Or by category<br>
    {% if categories %}
        <p>{% for category in categories %}
        <a href="{% url 'portfolio:view_category' category.slug %}">{{category.name}}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}</p>
    {% else %}
        <p>Categories failed to load</p>
    {% endif %}

    Or just see some projects<br>
{% endblock %}
