{% extends "portfolio/portfolio_base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                {% if projects %}
                    {% for project in projects %}
                        {% if project.visible %}
                            <div class="post-preview text-center">
                            <a href="{% url 'portfolio:project' project.slug %}">
                                <h2 class="post-title">
                                    {{ project.name }}
                                </h2>
                                <p>
                                    {{ project.description }}
                                </p>
                            </a>
                            <p class="post-meta">Posted in
                                {% for category in project.categories.all %}
                                    <a href="{% url 'portfolio:view_category' category.slug %}">{{category.name}}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                            </div>
                            <hr>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p><a href="{% url 'portfolio:index' %}">Your search didn't show anything. Click here to see other projects.</a></p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
