{% extends "base.html" %}

{% load staticfiles %}

{% block title %}高级口语 Final Project Scoring{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
    <br><br>
    <h1>高级口语 Final Movie Project Rules and Scoring Guidelines</h1>
    <h2>Assignment</h2>
    <p>The final project is to film a 10 minute movie in English. You can choose any topic or format that interests you. I will be grading your use of English in the video, not your filming technique. This is in place of a final exam, so treat it as seriously as you would an exam.<br>
      期末任务是拍一部10分钟英语视频。你可以随便选择话题和形式，不管用怎么样的方法拍视频，我只评论你的英语水平。这是你的期末考试，请认真对待。</p>
    <h2>Rules</h2>
    <ul>
        <li>Groups have at least two and no more than six members. 2 <= n <= 6<br>
          可以2个人以上6个人以下组队。</li>
        <li>You can have your friends or other random foreigners in your video, but they do not count towards the group size requirement. Only students in my classes count.<br>
          你可以叫你的朋友们或者另外的外国人帮忙，但是他们不算队员。只有我的学生算数。</li>
        <li>English subtitles must be included with the video, either as part of the video or as an external .srt or .sub file. Chinese subtitles are not required. If you don't know how to create subtitles, ask.<br>
          必须加英语字母在电影上或者在SRT文件。不必加中文。不知道怎么加的话请问我。</li>
        <li>Every group member must say at least 4 complete sentences. Interjections do not count.<br>
          每个队员至少说4句话。4个句子让你及格，高分当然必须说更多。</li>
        <li>While you can choose any topic, remember that your video must be appropriate for school. If you wouldn't say something in the classroom, you shouldn't include it in your video.<br>
          你可以随便选择题目，但是题目必须恰当。</li>
        <li>The script must be entirely your own work. Copying a script or portions of a script from other sources will result in your group failing the final. Quotes are OK, anything more is not.<br />
          不是自己写的剧本算是作弊，只能得到0分。</li>
        <li>Videos must be 10 minutes. Shorter videos will be penalized 10% for each missing minute. score * (max(time) / 10)<br>
          视频至短10分钟。每少一分钟降低10分。计时方式采取四舍五入。</li>
        <li>Large segments of unrelated video or talking in chinese will not be counted towards the time.<br>
          说中文部分或者无关的视频不算数。</li>
    </ul>
    <h2>Due Dates</h2>
    <p>Please submit a list of group members and a topic statement via email or wechat by December 12nd at 6 AM. The topic statement is four or five sentences describing what your video is about. Only one group member needs to turn this in.<br>
      请12月11号半夜前发给我队员表和题目介绍。题目介绍就是用5个句子解释你要拍什么样子的视频。</p>
    <p>The video will be due December 26th at 6 AM. Please submit the video either as a file on a USB disk, or as a link to a video streaming site (eg. Youku, Youtube, etc.). Email attachments should be under 500 mb. Please submit the script as a Word, OpenOffice, Plain Text, or PDF file by email. You are responsible for technical problems. If you are worried, submit it early and I will verify that it works.<br>
      请12月25号半夜前发给视频和剧本。可以用USB硬碟，电子邮件，或者网络地址（比如优酷土豆等等）。如果你用邮件添加附件的话，附件请不要大于500兆，如果大于请压缩再发送。（可以用好压2345APP）剧本可以用DOC，ODT，TXT，或者PDF。技术问题是自己负责任的，如果你着急请早点发送。</p>
    <h2>Grading Criteria</h2>
    <p>60% of your grade will come from your group performance, while 40% will come from your individual performance. Choose your group members wisely.</p>
    <h3>Group scoring</h3>
    <p>Your group will be scored out of 60 possible points. The topic statement is worth 10 points, and the subtitles are worth another 10 points. The script will be worth the remaining 40 points, with 15 points for grammar, 15 points for fluency, 5 points for creativity, and 5 points for spelling.</p>
    <h3>Individual scoring</h3>
    <p>Each group member will be scored out of 40 possible points. You will recieve 20 points for your amount of participation, and 20 points for the quality of your speech. People playing major roles will get high participation scores, while people doing only the minimum number of lines will get lower scores. Quality of speech will be judged based on your existing proficiency: you don't have to be perfect, but you do have to do your best.</p>
    <h2>Suggestions</h2>
    <p>The video will likely take a few days to put together, between writing a script, filming, and editing. If you start working one or two days before the deadline, you will have a very hard time.</p>

{% endblock %}
