{% extends "base.html" %}

{% load staticfiles %}

{% block title %}高级口语 Homepage{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
    <br><br>
    <h1>高级口语 Class Rules and Schedule </h1>
    <h2>Attendance</h2>
    <ul>
      <li>The purpose of this class is to practice oral english. As such, attendance is very important as it is very difficult to make up the experience outside of class.<br>因为这门课的目的是让你练习口语，上课挺重要。没办法补课，所以每周必须来上课。</li>
      <li>Miss 3 classes and you cannot take the final exam. If you have a serious extended situation, please contact me, so we can figure out a plan for you to pass.<br>没上3次课的学生不能参加期末考试。</li>
      <li>If you have a serious situation (e.g. a serious illness in the family, or a hospitalization), please message me before class to ask for leave. I may ask for some sort of proof.<br>如果你有重要的事情，比如说家人生严重的病还是你住院，请课前联系我请假。我可能让你给我证明。</li>
      <li>If a less serious issue comes up (e.g. a meeting for another class, non-serious illness, or catching a train), you can come to a different class in the same week to make up the absence.<br>如果是不重要的事情，比如说专业开会，生不严重的病或者坐火车，请同周来上课。</li>
      <li>Students who leave during the break period or use their cell phones excessively will only get half of the day’s attendance points.<br>在休息时间逃课的学生，玩手机太多的学生只能得到半个学分。</li>
    </ul>
    <p>课表是：<br>
    周一：10点 J5-114<br>
    周二：8点 J5-211<br>
    周三：8点 J5-114<br>
    周四：8点 J5-211<br>
    周五：10点: J5-114</p>
    <h2>Topics</h2>
    <ul>
        <li>I will post the topic on sunday before class.<br>我在课前的周日要发话题。</li>
        <li>Depending on the topic, I may post useful vocabulary.<br>如果有用的话，我也要发单词。</li>
        <li>The goal of vocabulary is to know how to use them, not just to memorize them. If you do not understand them, we can go over them in class.<br>学单词的目的不在于让你记住，而是要会用。如果你不理解单词，请在课的时候提问。</li>
        <li>You may prepare however you like. I make no guarantees about what the class activities are.<br>你可以随便准备，我不要课前告诉你们课的活动。</li>
        <li>I may change topics due to unforeseen circumstances.<br>我可以随时改变话题。</li>
    </ul>
    <h2>Group official page</h2>
    <p>Please follow the class official wechat page. I will use it to post important information, such as class cancellations, last minute reminders, or other things like that.</p>
    <img src="% static 'qrcode.jpg' %">

{% endblock %}
