{% extends "base.html" %}

{% load staticfiles %}

{% block title %}高级口语 Homepage{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
<p>
    这是我收到的视频。如果我没收到，或者队员表不正确，或者其他的问题，请周六前传发我你的电子邮件到lkjaero@qq.com，然后联系我的微信：lkjaero。
    感谢你的原谅与合作。
</p>

<table>
<tr>
<th>昵称</th>
<th>队员</th>
<th>题目</th>
<th>视频</th>
</tr>
<tr>
<td>Time Sisters</th>
<td>Wang Xuan Zhang Yan He Juan Li Hong Li Ang Zhong Wei</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>Dead or Alive</th>
<td>Wang Zunfang, Zhu Kunhuai, Lv Xueyi, Zhang Zhijing, Zhang Tengfei</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>Rational Consumption</th>
<td>Chen Weiwei Zhu Tong He Dongdong Lu Zeng</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>The trip of finding the treasure</th>
<td>Ma Mengbai Zhang Zhenhai Zhang Xiaoqin Cai Fen Zhuang Zhi Lv Jianan</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>Light Up the Darkness</th>
<td>Dong Peng Sun Donghao Gao Guanzhong Liu Shuai</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>The Biography of Zhenhuan</th>
<td>Jiang Jiaojiao Guo Hui Zhao Yanhong Zhao Yingjie Bijingpeng Zhang Na</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>We are a team</th>
<td>Zhang Yanbo Shi Di Liu Wenshu Sun Taiyi</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>Laughing Disorder</th>
<td>Song Yun, Liu Li, Liu Kewen, Wu Qiaoman</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>Die to Yan</th>
<td>从杨, 纪轩禹, 李鹏宇, 孔利, 姜俊奎</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>Seeing Jing Ke Off At Yi Shui River</th>
<td>Wu Yingshuai, Dong Shuqiang, Fan Haifeng, Duan Hongli</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>The Young Film</th>
<td>Cui Xuewei, Li Tiantian, Wang Di, Liu Jie</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>The Emperor and the Assassin</th>
<td>Ren Xuanming, Yang Longyun, Liu Honggang, Zhang Weipeng, Zhongmingming</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>Kiwi</th>
<td>Wang Dong, Yao Yao, Yang Zhuo, Guo Lili</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>Square Dancing Queen</th>
<td>肖澤琛  王俊明 曲承志  王俊輝</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>Trip to America</th>
<td>徐继伟，丁世革，程龙，王利平。</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>Three Visits to the Cottage</th>
<td>Liu Mengkui, LiuYi, LiuTang, Liu Zhaohui</th>
<td>有</th>
<td>优酷</th>
</tr>
<tr>
<td>Interview</th>
<td>Yang Guochao, Zhan Binbin, Xue Guochao and Yan Xiaohui</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>非诚勿扰</th>
<td>段双双 侯梦琪 马文卿 李京鸿 李浩然 王红焰</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>Boy's Room</th>
<td>Sun Chuanping, Jiang Chenghao, Wu Haitao, Feng Bo</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>Three Visits to the Hut (三顾茅庐)</th>
<td>Tan Wentao, Wang Peng, Zhao Qi, Zhang Zhen, Xiao Huaming</th>
<td>有</th>
<td>优酷</th>
</tr>
<tr>
<td>Super Heroes</th>
<td>Liu Dandan, Nie Rongjuan, Guo Xianyu, Jiang Li, Lin Yaoyao, Xia Wei</th>
<td>有</th>
<td>优酷</th>
</tr>
<tr>
<td>Our Daily Life in the Dorm</th>
<td>Zhaoyao, Liulin, Shaochangming and Yanglei</th>
<td>有</th>
<td>优酷</th>
</tr>
<tr>
<td>Snow White and the Seven Dwarves</th>
<td>Chen Xi, Zou Qian, Jiang Gang, Guo Peixuan, Cao Lei, Xu Weijian, Sun Wei, Liu Xingchen</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>Three Visits to the Cottage</th>
<td>卢衍春, 章彭, 赵振宁, 邱文龙</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>大话西游</th>
<td>He Tian 贺天, Xu Zhihao 徐志豪, Zhou Hailong 周海龙</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>为梦想启航</th>
<td>田忠江, 常林, 刘学彬, 赵士英</th>
<td>没有</th>
<td>下载</th>
</tr>
<tr>
<td>A funny job fair</th>
<td>Li Yifan(李一凡)  Liu Jinlong(刘金龙)  Li Wang(李旺) Li Zhenyu(李振宇)  Chai Xingsi(柴星思)  Guo Qianqian(郭倩倩)</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>Cinderella</th>
<td>Zhao Shan, Yuan Fengru, Wei Janjuan, Guo Yan</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>Cinderella</th>
<td>Liu Xinyan, Liu Pan, Pan Xin, Liu Fengwei, Yuan Huijie</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>Who is the #1</th>
<td>Zheng Zheng, Li Guangyu, Zhang Yong, Zhao Min</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>Video of Interview</th>
<td>Wang Wenlin, Wu Yingtao, Ni Wei, Yan Yuhu</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>The Story of Harem</th>
<td>Zhang Ya, Shi Gaoyue, Zhao Chunbo, Hua Yun</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>The Emperor and the Assassin</th>
<td>Wang Leilei, Wei Yingce, Wang Youcun, Dong Shiyuan</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>Britain's House</th>
<td>Wang Wenwen, Song Wenjing, Xu Haiyan, Gao Chen, Meng Xiangli, Jiang Fei</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>Bull King</th>
<td>Zhang Tide, Wang Fei, Song Shuai, Mu Jiefeng</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>Hangover Rhapsody</th>
<td>Qi Xiaoshan, Zi Yuanyuan, Wang Li, Ma Lujing, Kao Chenxin</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>Treasure Adventure Story</th>
<td>Gao Bing, Cui Boqiang, Dai Huabin, Bian Wenhui</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>Three Visits to the Hut (三顾茅庐)</th>
<td>Jiang Zongqi, Liang Yue, Jiang Ning, Qiao Yu</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>Final Project</th>
<td>Zhang Yingjie, Chen Zhe, Lin Jingqiu, Zhu Zhendong</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>Skipping Class</th>
<td>Cao Gaohua, Wang Xiao, Zhang Guanghao, Yang Kaige</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>Crazy Treasure</th>
<td>Zhang Dawei, Huang Xiaosong, Wu Guoliang, Sun Pengwei</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>Improvisation game</th>
<td>Yuan Qi, Zhou Changlong</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>Values Determine Your Future</th>
<td>Chang Lin, Liu Xuebin, Tian Zhongjiang, Zhao Shiying</th>
<td>有</th>
<td>没收到</th>
</tr>
<tr>
<td>The Voice of SDUST</th>
<td>Ge Tonghui, Du Kewen, Zhang Zheng, Yue Yangtengfei, Wu Houchao</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>San Guo</th>
<td>Zhou Chuanyi, Zhou Guangyao, Zhao Yipeng</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>New Roommates Introduction</th>
<td>Zhang Jingmei, Wang Di, Ma Lin</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>Shou Zhu Dai TuÂ Â </th>
<td>Xiang Zhengjie, Zhu Chenglin</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>504</th>
<td>Wang Shuqing, Zhao Wenchao, Sun Chuanzhen, Wei Yili</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>The Emperor and the Assassin</th>
<td>Zhang Zheng, Wu Chuanjian, Ma Siyuan, Zhu Lingzhen</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>Dorm</th>
<td>Yang Lei, Liu Lin, Zhao Yao, Shao Changming</th>
<td>有</th>
<td>没收到</th>
</tr>
<tr>
<td>Golem's Story</th>
<td>Xu Mengmeng, Zhang Shitong, Song Binghui, Xie Dan, Wen Zhenxuan, Wang Chenchen</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>Fox and the Tiger</th>
<td>Jiang Junyu, Wang Zhaoxin, Fan Haotian, Bai Long</th>
<td>有</th>
<td>没收到</th>
</tr>
<tr>
<td>Different Life</th>
<td>Yu Zhichao, Sun Junhui, Zhang Qun</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>Your Name</th>
<td>Xu Xiaobin, Li Ang, Li Pengfei, Xiang Tao, Nie Rongjuan, Lin Yaoyao</th>
<td>有</th>
<td>优酷</th>
</tr>
<tr>
<td>Responsibility</th>
<td>Lu Shida, Kang Changping, Wang Chao</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>The Emperor and the Assassin</th>
<td>Sun Guangjie, Liu Zhen, Xu Yuchuan, Sun Bo</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>The Emperor and the Assassin</th>
<td>刘玉亮 刘伟超 张伟博 张广林</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>Roommate</th>
<td>Liu Hao, Feng Lei, Wei Yuliang, Xu Jilei.</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>Super Brain</th>
<td>Han Ruili, Chen Jing, Wang Chenchen, Zhang Min</th>
<td>有</th>
<td>没收到</th>
</tr>
<tr>
<td>Miyuki Princess</th>
<td>Jiang Xiaoshan, Yu Peiling, Lv Keyu, Lu Dongya</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>Dream</th>
<td>Wu Mingyue, Hu Zunxiang, Li Weitao, Hou Jiajun, Yu Dongye, Xin Chengrui</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>A Taste of China</th>
<td>Cao Ruifeng</th>
<td>有</th>
<td>没收到</th>
</tr>
<tr>
<td>The Last Lesson</th>
<td>Ji xianlei, Zhang qingyu, Zhang tao, Gao kaiqiang, Zhang mingmin</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>Protect Environment</th>
<td>Wang Jianpeng, Li Maoyuan, Liu Jizhi, Zou Jiakun</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>National Day Holidays</th>
<td>梁之西，張硯強，張振華，卓中日</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>Untitled</th>
<td>zhenghui（鄭輝），yuanguoteng（袁國騰），sunchao（孫超），liliang（李量）</th>
<td>有</th>
<td>没收到</th>
</tr>
<tr>
<td>Sketches</th>
<td>Gao Yanbing, Ma Congbin, Wang Guangjie, Wang Liu, Wang Xin, Wu Dongliang</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>Banquet at Hongmen</th>
<td>Dong Hongxing, Gao Yang, Su Qi, Zhao Chuanlin</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>Little Theives</th>
<td>kong xiaofei(孔小飛), zhai tianwen(翟天文), ju yonghen(鞠永恆)</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>Journey to the West</th>
<td>李林 Li Lin,王寧 Wang Ning, 王琳 Wang Lin, 夏貞麗 Xia Zhenli, 張天雅 Zhang  Tianya, 王素素 Wang Susu</th>
<td>有</th>
<td>没收到</th>
</tr>
<tr>
<td>During the College Life Fun</th>
<td>Wu Yue, Li Zhongxiang, Zhu Shang, Wei Guo, Wang Shuai</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>Forest Fire Starts With Me</th>
<td>Qixiangsong 祁祥松, Mabole 马伯乐, Weizhiheng 魏志恒, Zhangguopeng 张国鹏</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>The Emperor's New Clothes</th>
<td>Zhang Lanqing</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>Zhen Huan</th>
<td>Zhang Rui, Mo Xiaolin, Miao Peng, Wang Jie</th>
<td>有</th>
<td>没收到</th>
</tr>
<tr>
<td>Talent Show</th>
<td>Han Mei, Song Yuan, Wang Yaqi</th>
<td>有</th>
<td>没收到</th>
</tr>
<tr>
<td>Internal Affairs</th>
<td>Cui TengFei, Ding PengWen</th>
<td>有</th>
<td>没收到</th>
</tr>
<tr>
<td>Romeo and Juliet</th>
<td>Ruan Meng, Wang Baichao, Yang Jiqiang, Xiang Xiwei</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>Ideaboom Foursomes</th>
<td>Liu Wenhao, Chen Yun, Li Yaxuan, Zheng Xiao</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>Untitled</th>
<td>Liu Peng, Liu Wenshu, Wang He, Wang Lifu</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>石壕史</th>
<td>Dong Hanzheng, Li Shixu, Li Jiacheng, Yu Lanhao</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>Cowherd and the Weaving Maid</th>
<td>Song Zhenzhen, Shu Meiyan, Wang Menghan, Xu Zhangping</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>Untitled</th>
<td>Liu Shujun, Yang Shiqiang, Hu Huazeng, Luan Fengchao</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>The Legend of the White Rabbit</th>
<td>Yang Huifang, Yuan Xiaohui, Yan Lizi</th>
<td>有</th>
<td>没收到</th>
</tr>
<tr>
<td>Three Visits to the Cottage</th>
<td>Liu Xiyang, Liu Nannan, Sun Shijiao, Zhou Tingting, Gu Zhaocan</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>Money is not a Problem</th>
<td>Liang Tian, Guo Zhonghui, Meng Ke, Liu Si</th>
<td>有</th>
<td>下载</th>
</tr>
<tr>
<td>The One</th>
<td>Shi Jingtao, Niu Yingjie, Pang Jilei, Liu Zhonghua</th>
<td>没有</th>
<td>下载</th>
</tr>
<tr>
<td>Sports Make You Full of Energy</th>
<td>Zhao Chao,</th>
<td>没有</th>
<td>下载</th>
</tr>
<tr>
<td>The Race of Animals</th>
<td>Han Chao, Li Tibin, Liang Yamin, Liu Qian, Shi Di</th>
<td>有</th>
<td>下载</th>
</tr>
</table>
{% endblock %}
